/* sur l'ensemble de la page */
*{
	margin: 0;
	box-sizing: border-box;
  }
  
  body{
	font-family: Roboto;
	font-weight: 300;
	font-size: .9rem;
	line-height: 1.5;
  }
  
  a{
	text-decoration: underline; /* Pour que le lien soit souligné */
	color: #414244;
  }

  
  a:hover{
	text-decoration: none; /* Le lien n'est plus souligné au survol */ 
	color: #031CAB; /* Changer de couleur au survol des liens */ 
  }

  p{
	margin: 0 0 1rem;
  }
  
  h1{
	margin: 0 0 1rem;
	font-size: 2.5rem;
	margin-bottom: .5rem;
  }
  h2{
	margin: 0 0 1rem;
	letter-spacing: 1px;
	text-transform: uppercase;
  }
  
  /* le fond de la totalité de la page */
  .global{
	background-image: url("arriere-plan1.jpg");
	background-size: cover;
	background-position: center;
	}

  .text-blue{
	color: #113356;
  }
  
  /* pour mettre le texte en majuscule */
  .text-uppercase{
	text-transform: uppercase; 
  }
  
  .icon{
	margin-right: .5rem;
  }
  
  /* le cadre global du cv */ 
  .cv-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "left-column right-column right-column";
	width: 1200px;
	margin: 100px auto;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .section{
	margin-bottom: 1.5rem;
  }
  
  /* colonne gauche */
  .left-column{
	grid-area: left-column;
	padding: 50px;
	background-color: #FCD1E1;
	text-align: justify;
  }
  
  /* les listes de la colonne gauche */
  .skills{
	list-style-type: none;
	padding: 0;
	letter-spacing: 1px;
	margin: 0 0 1rem;
  }
  
  /* colonne droite */
  .right-column{
	grid-area: right-column;
	display: grid;
	grid-template-rows: 250px 1fr;
	grid-template-areas: 
	  "header"
	  "content";
	
  }
  
  /* l'en-tête de la colonne droite */
  .header{
	grid-area: header;
	padding: 50px;
	background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
 
  /* le corps de la colonne droite */
  .content{
	grid-area: content;
	padding: 50px;
	text-align: justify;
  }
  
  /* les puces des listes de la colonne droite */ 
  .experience-list{
	list-style-type: circle;
  }

  /* Le bas du CV */
  .bottom{
	  text-align: right;
	}